<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.signme.signme">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chat.indexchating"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".tutoreal.TutorMainActivity"></activity>
        <activity android:name=".Forget_Activity.FogetidActivity"></activity>
        <activity android:name=".Forget_Activity.FogetpwActivity"></activity>
        <activity android:name=".PwchangeActivity"></activity>
        <activity android:name=".activity.ResponseLetterActivity"></activity>
        <activity android:name=".activity.ResponselessLetterActivity"></activity>
        <activity android:name=".activity.SurveyActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".Register2Activity"></activity>
        <activity android:name=".Register3Activity"></activity>
        <activity android:name=".RegisterfinActivity"></activity>
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>