a:visited{
    color :rgb(143, 143, 143);
}
a:link{
    color: rgb(143, 143, 143);
}
hr{
    background-color: #000000;
    border: 0px solid #000000;
    margin: 0px;
}
#menu{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    
}
ul>li{

    font-size: 22px;
    font-weight: lighter;
    
    float: left;
    list-style: none;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#menu>ul:first-child{
    margin-left: 85px;

}
#menu>ul:last-child{
    float: right;
    margin-right: 85px;
}
.here{
    color: #1159BB;
    font-weight: bold;
}
#title>h1{

    font-size: 100pt;
    font-weight: lighter;
    letter-spacing: 0.2em;
    line-height: 1em;
    
    text-align: center;
    
    margin-bottom: 16px;
}
#title>hr{
    margin: 0 auto;
    width: 800px;
    height: 2px;
    

    margin-bottom: 16px;
}
#contant{
    width: 1435px;
    height: 100%;
    margin: 0 auto;
}
#contant>h2{
    font-size: 45px;
    font-weight: lighter;
}
#contant>h3{
    font-size: 25px;
    font-weight: normal;
}
#contant>hr{
    height: 1px;
}
#bar{
    width: 100%;
    display: block;
}
#bar>ul{
    margin: 0px;
}
#bar>ul:first-child{
    float: left;
}
#bar>ul:last-child{
    float: right;
}
#bar>ul>li>a{
    color: #c2c2c2;
}
#bar>ul>li>button{
    height: 30px;
    width: 60px;
    font-size: 15px;
}
input, select{
    height: 30px;
    box-sizing: border-box;
    font-size: 15px;
}
table, thead, tbody, tr{
    width: 100%;
    /* height: 100px; */
    margin: 0px; 
    padding: 0px;
}
tr{
    height: 65px;
}
th{
    background-color: #c2c2c2;
    color: #ffffff;
    font-weight: normal;
}
th, td{
    font-size: 20px;
    text-align: center;
}
tr>td{
    border-bottom: 1px solid #c2c2c2;
    color: #c2c2c2;
}
tr>th:nth-child(1){
    width: 116px;
    border-right: 1px solid #ffffff;

}
tr>th:nth-child(2){
    width: 510px;
    border-right: 1px solid #ffffff;
    
}
tr>th:nth-child(3){
    width: 535px;
    border-right: 1px solid #ffffff;
    
}
tr>th:nth-child(4){
    width: 270px;
}


.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.modal-wrapper{
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:rgba(0,0,0,0.5);
    visibility:hidden;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
  
  .modal-wrapper.open{
    opacity:1;
    visibility:visible;
  }
  
  .modal{
    width:960px;
    height:285px;
    display:block;
    margin:50% 0 0 -25%;
    position:relative;
    top:50%; left:50%;
    background:#ffffff;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
.content{
    text-align: center;
    
}
.content>h1{
    font-size: 53px;
    font-weight: lighter;
    margin-top: 65px;
}
.content>div{
    margin: 0 auto;
    margin-top: 45px;

}
.content>div>button{
    width: 250px;
    height: 80px;
    font-size: 25px;
    font-weight: lighter;
    background-color: #706f6f;
    color: #ffffff;
    border: 0px solid #ffffff;
}
.content>div>button:nth-child(2){
    margin-left: 45px;
<<<<<<< HEAD
=======
    margin-right: 45px;
>>>>>>> 48383db8f90b92525301b6ff32d6018d108bd5ac
}
.modal-wrapper.open .modal{
  margin-top:-200px;
  opacity:1;
}
  