a:visited{
    color :rgb(143, 143, 143);
}
a:link{
    color: rgb(143, 143, 143);
}
hr{
    background-color: #000000;
    border: 0px solid #000000;
}
#menu{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    
}
ul>li{

    font-size: 22px;
    font-weight: lighter;
    
    float: left;
    list-style: none;
    margin-right: 8px;
    
}
#menu>ul:first-child{
    margin-left: 85px;

}
#menu>ul:last-child{
    float: right;
    margin-right: 85px;
}
.here{
    color: #1159BB;
    font-weight: bold;
}
#title>h1{

    font-size: 100pt;
    font-weight: lighter;
    letter-spacing: 0.2em;
    line-height: 1em;
    
    text-align: center;
    
    margin-bottom: 16px;
}
#title>hr{
    margin: 0 auto;
    width: 800px;
    height: 2px;
    

    margin-bottom: 16px;
}
#contant{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
}
form{
    font-size: 20px;
    font-weight: lighter;
}
form>div{
    margin-top: 8px;
}
#c_contant>*{
    margin-bottom: 8px;
}
form>h2{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 8px;
}
form>h3{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 20px;
}
form>hr{
    height: 1px;
}
#c_title>span{
    /* width: 470px;
    height: 20px; */
    font-size: 18px;
}
#c_date>input{
    /* height: 20px; */
    font-size: 19px;
}
#c_contant>div{
    width: 780px;
    height: 90px;
    /* resize: none; */
    
}
#c_contant>div>p{
    font-size: 18px;
}
#c_addlist{
    margin-bottom: 30px;
}
#c_addlist>div{
    clear: both;
    margin-bottom: 8px;
}
#c_addlist>div>*{
    display: block;
    float: left;
}
#c_addlist>div>label{
    width: 80px;
    height: 20px;
}
#c_addlist>div>div{
    height: 25px;
    width: 485px;
}
#c_addlist>div>div>span{
    font-size: 22px;
}
<<<<<<< HEAD
#c_addlist>div{
    height: 25px;
    width: 100%;
    margin-bottom: 15px;
}
=======
>>>>>>> 48383db8f90b92525301b6ff32d6018d108bd5ac
#c_submit>input{
    width: 95px;
    height: 25px;
    background-color: #9A9999;
    border: 1px solid #9A9999;

    margin-top: 50px;
}
#back{
    width: 95px;
    height: 25px;
    color: #ffffff;
    background-color: #9A9999;
    border: 1px solid #9A9999;
    margin-top: 50px;
}
#contant>form>div>a{
    background-color: #9A9999;
    color: #ffffff;
    padding: 0px  5px 0 5px;
    margin-top: 30px;
}
#contant>form>div>a{

    margin-right: 30px;
}
    