.g_artcle {
    margin: 0px 0px;
    width: 80vw;
    height: 100%;
    text-align: center;
    margin-left: 10vw;
}
.bar {
    width: 80vw;
}
.g_body{
    height: 100%;
}
.main_body{
    width: 80w;
    height: 100vh;
}
#calendarbar{
    width: 55vw;
    margin:0;
    padding: 0px;
}
#addbar{
    float: right;
    width: 24vw;
    height: 90%;
    margin: 0px;
    /* border: 1px solid black; */
    padding: 0px;
}

.leftbox{
    float: left;
}
.colorCodeDiv{
    
    margin: auto;
    margin-top: 3vw;
    width: 18vw;
    height: 50vh;
    padding: 5px 5px;
    background-color: #ffffff;
    border: 1px solid black;
}
.colorDivBlank{
    margin-top: 1vh;
}
.colorDiv{
    margin-left: 3vw;
    padding: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    background-color: #E5F70C;
}
.colorWho{
    width: 5vw;
    text-align: right;
}