body, html, div, ul, li, h1, p, span, a, input, button {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
h1 {
    font-size: 35px;
}
a {
    color: black;
    text-decoration:none
}
input:-ms-input-placeholder {
    color: #cdcdcd;
; 
} 
input::-webkit-input-placeholder {
    color: #cdcdcd;
;
} 
input::-moz-placeholder {
    color: #cdcdcd;
;
} 
input::-moz-placeholder {
    color: #cdcdcd;
;
} 
.g_banner { 
    height: 5vh;
    background-color: #fff;
    border-bottom: 1px solid rgb(85.1%, 85.1%, 85.1%);
}
.g_b_banner{
    padding-top: 1vh;
}
.bannerlogo {
    margin-left: 50vw;
}
.bannerlogin {
    float: right;
    padding-right: 2vw;
}
.g_a_b_h1{
    padding-bottom: 0px;
}
.bar {
    height: 1px;
    color: black;
    background-color: black;
}
.g_artcle {
    padding-top: 5vh;
    width: 60vw;
    padding-left: 20vw;
}
#g_a_artcle {

}

.b_leftbox {
    padding-bottom : 25px;
}

.leftbox {
    float: left;
    padding: 0px 7px 0px 7px;
}
.clear {
    clear: both;
}
.g_a_text{
    font-size: 20px;
}

.inputbox {
    height: 25px;
    width: 400px;
}
.button {
    background-color: #888888; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 27px;

    /*padding: 1px 25px 1px 25px;*/
    display: inline-block;
}