
hr{
    background-color: #000000;
    border: 0px solid #000000;
    margin: 0px;
}
#menu{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    
}
ul>li{
    font-size: 22px;
    font-weight: lighter; 
    float: left;
    list-style: none;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#menu>ul:first-child{
    margin-left: 85px;

}
#menu>ul:last-child{
    float: right;
    margin-right: 85px;
}
.here{
    color: #1159BB;
    font-weight: bold;
}
#title>h1{

    font-size: 100pt;
    font-weight: lighter;
    letter-spacing: 0.2em;
    line-height: 1em;
    
    text-align: center;
    
    margin-bottom: 16px;
}
#title>hr{
    margin: 0 auto;
    width: 800px;
    height: 2px;
    

    margin-bottom: 16px;
}
#contant{
    width: 1290px;
    height: 100%;
    margin: 0 auto;
}
#contant>h2{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 20px;
}

#contant>hr{
    height: 1px;
    margin-bottom: 20px;
}
#artcle{
    width: 100%;
    height: 525px;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    float: left;
}
#artcle>div:first-child{
    box-sizing: border-box;
    float: left;
    width: 230px;
    height: 100%;
    border: 1px solid #c2c2c2;
    font-size: 25px;
}
#artcle>div:last-child{
    float: left;
    box-sizing: border-box;
    width: 1058px;
    height: 100%;
}
#artcle>div:first-child>div{
    height: 90px;
    width: 100%;
}
#artcle>div:first-child>div:first-child{
    background-color: #948F8F;
    color: #ffffff;
}
#artcle>div:first-child>div>a>p{
    padding-top: 32.5px;
    padding-left: 10px;
}
#artcle>div:first-child>div:last-child{
    background-color: #E6E6E6;
}
#artcle>div:first-child>div:first-child>a:visited{
    color: #ffffff;
}
#artcle>div:first-child>div:first-child>a:link{
    color: #ffffff;
}
#artcle>div:first-child>div:last-child>a:visited{
    color: #000000;
}
#artcle>div:first-child>div:last-child>a:link{
    color: #000000;
}

#artcle>div:last-child{
    text-align: center;
}
#artcle>div:last-child>img{
    margin-top:150px;
}
#artcle>div:last-child>p{
    font-size: 30px;
    margin-top:16px;
    margin-bottom: 16px;
}
#artcle>div:last-child>div>input{
    box-sizing: border-box;
    width: 215px;
    height: 30px;
}
#artcle>div:last-child>div>button{
    box-sizing: border-box;
    font-size: 22px;
    width: 60px;
    height: 30px;
    
    background-color: #636363;
    border: 0px solid #636363;
    color: #ffffff;
    margin-left: 8px;
}